<div class="main">

<h2>Titulo del anuncio</h2>

<form class="pop-up">

    <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label></mat-label>
        <input matInput formControlName="nombre" placeholder="Patricio">
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>hola</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <div class="form-footer">
        <button mat-button>Cerrar</button>
        <button mat-raised-button color="warn">Publicar</button>
    </div>

</form>

</div>