<section class="tarea">
    
        <div class="tarea__consigna border-box">
                <div class="consigna-info">
                        <p class="entrega-titulo">{{tarea}}</p>
                        <p class="archivo-nombre">Breve cuestionario sobre el material de estudio "desarrollo de software"
                                El estudio de este tema les permitirá identificar en qué consiste el proceso de desarrollo de un sistema, a partir de su metodología, herramientas de programación y ciclo de vida, con la finalidad de que en caso de que el sistema presente complicaciones, como programador puedas determinar la solución más viable, ya sea mediante su corrección o mediante la implementación de un software</p>
                </div>
                <div class="consigna-adjunto">
                        <div class="entrega-icono">
                                <mat-icon inline=true>insert_drive_file</mat-icon>
                        </div>
                        <div class="entrega-info">
                                <p class="archivo-nombre">Analisis-Sistema.docx</p>
                        </div>
                </div>
                <div class="consigna-adjunto">
                        <div class="entrega-icono">
                                <mat-icon inline=true>public</mat-icon>
                        </div>
                        <div class="entrega-info">
                                <p class="archivo-nombre">angular.io/cli/generate</p>
                        </div>
                </div>
        </div>
        <div class="tarea__entrega border-box">
                <p class="entrega-titulo">Adjuntar archivo</p>
                <div class="entrega-adjunto">
                        <div class="entrega-icono">
                                <mat-icon inline=true>insert_drive_file</mat-icon>
                        </div>
                        <div class="entrega-info">
                                <p class="archivo-nombre">cuestionario-granata.docx</p>
                        </div>
                </div>
                <div class="entrega-acciones">
                        <button mat-raised-button color="basic">Adjuntar archivo</button>
                        <button mat-raised-button color="warn">Marcar como entregada</button>
                </div>
        </div>


</section>